body {
  background-color: #f9f7fe;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  padding-bottom: 25px;
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(128, 128, 128, 0.096);
  margin: 30px auto;
  max-width: 600px;
  padding: 30px 20px;
}

.search-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 35px;
  padding: 20px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 15px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
.search-form-button:hover {
  background: #4b28a1;
  transition: all 700ms ease-in-out;
}

footer {
  border-top: 1px solid rgba(128, 128, 128, 0.164);
  font-family: monospace;
  font-size: 12px;
  font-style: normal;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}
