body {
  background-color: #f9f7fe;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

main {
  padding: 15px 0;
}

/* Start Header part */

header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.164);
  padding-bottom: 25px;
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(128, 128, 128, 0.096);
  margin: 50px auto;
  max-width: 600px;
  padding: 30px 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 35px;
  padding: 20px 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 15px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 30px;
}
.search-form-button:hover {
  background: #4b28a1;
  transition: all 700ms ease-in-out;
}
/* End Header part */

/* Start Main part - Weather Today */
.weather-data-today {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
}
.weather-today-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
.weather-data-today-focus {
  font-weight: bold;
  color: #f65282;
}

.weather-temperature-today {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.weather-temperature-today-icon {
  height: 150px;
  position: relative;
  bottom: 20px;
}
.weather-temperature-today-value {
  font-size: 88px;
  font-weight: 700;
}
.weather-temperature-today-unit {
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}
/* End Main part - Weather Today */

/* Start Main part - Weather Forecast */
.weather-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 25px;
}
.weather-forecast-day {
  font-weight: 600;
}
.weather-forecast-temp-max {
  color: #f65282;
  font-weight: bold;
}
.weather-forecast-temp-min {
  color: #f65282;
  opacity: 0.8;
}
.weather-forecast-icon {
  width: auto;
  margin: -15px 0 -15px 0;
}
/* End Main part - Weather Forecast */

/* Start Footer part */
footer {
  border-top: 1px solid rgba(128, 128, 128, 0.164);
  color: gray;
  font-family: monospace;
  font-size: 12px;
  font-style: normal;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
}
a {
  color: #885df1;
}
/* End Footer part */
